.navbar {
  position: fixed;
  background: maroon;
  width: 100%;
  height: 70px;
  z-index: 1000;
  top: 0;
  color: white;
}

.navbar-container {
  display: flex;
}

.navbar-container button {
  margin: 10px 10px 10px 20px;
  width: 50px;
  height: 50px;
  background: transparent;
  color: white;
  font-size: 30px;
  border: none;
  transition: 1s all ease-in-out;
}

.navbar-container button:hover {
  border: 1 solid white;
}
